{% extends "web/layout/base.html" %}

{% load static %}

{% block title %}Home{% endblock %}

{% block extra_head %}
  <link
    rel="preload"
    as="image"
    href="https://img.gsgfs.moe/images/avif/6a/d5/6ad5852d8f1048c49a862e400a133d10da1fdb302bf3116fd74b0289b002731e.avif"
    type="image/avif"
    fetchpriority="high"
  >
  <link
    rel="prefetch"
    href="https://img.gsgfs.moe/images/avif/54/0f/540f78d0502e4afa4468660e0464d4e79dfdf685f9897eca6109214484a1ef12.avif"
    type="image/avif"
  >
  <link
    rel="prefetch"
    href="https://img.gsgfs.moe/images/avif/e7/6d/e76ddbc44702d3a34233660c77ce375122778121efcee9fd4cc7f7c669580949.avif"
    type="image/avif"
    media="(min-width: 640px)"
  >
{% endblock %}

{% block content %}
  <div
    class="flex max-w-5xl h-full min-h-[min(300px,40vh)] w-full flex-col md:translate-y-[10%] md:flex-row lg:translate-y-[20%] xl:translate-y-[30%] mx-auto"
  >
    {# Left #}
    <div
      class="h-fit flex-8"
    >
      <div class="flex max-w-xl flex-col justify-center gap-y-6 text-left dark:text-[#dadada] sm:pt-20 px-8">
        <h1 class="text-6xl drop-shadow-lg sm:text-8xl">Hi!</h1>
        <h2 class="inline-block text-5xl drop-shadow-lg sm:text-7xl">
          I&apos;m
          <span
            class="inline-block bg-linear-to-b dark:from-blue-400 dark:to-[#0072F5] bg-clip-text text-6xl text-transparent sm:text-8xl"
          >
            {{ SITE_AUTHOR }}
          </span>
        </h2>
        <h2 class="text-3xl drop-shadow-lg sm:mt-4 sm:text-5xl">
          A College Student
        </h2>

        {# buttons #}
        <div class="flex gap-3">
          <a
            aria-label="访问 osu! 主页"
            class="flex w-fit cursor-pointer items-center gap-2 rounded-full border dark:border-black/20 dark:bg-[#f0f0f0e6] p-2 transition outline-none hover:scale-105 hover:dark:bg-[#c0c0c0] focus:scale-105 active:scale-105"
            rel="noopener noreferrer"
            href="https://osu.ppy.sh/users/36335512"
            target="_blank"
          >
            <img width="32" height="32" alt="osu! icon" type="image/svg" src="/static/osu.svg">
          </a>
          <a
            aria-label="访问 GitHub 主页"
            class="flex w-fit cursor-pointer items-center gap-2 rounded-full border dark:border-black/20 dark:bg-[#f0f0f0e6] p-2 transition outline-none hover:scale-105 hover:dark:bg-[#c0c0c0] focus:scale-105 active:scale-105"
            rel="noopener noreferrer"
            href="https://github.com/GSGFs7"
            target="_blank"
          >
            <img width="32" height="32" alt="GitHub icon" type="image/svg" src="/static/github-fill.svg">
          </a>
          <a
            aria-label="查看 GPG 公钥"
            class="flex w-fit cursor-pointer items-center gap-2 rounded-full border dark:border-black/20 dark:bg-[#f0f0f0e6] p-2 transition outline-none hover:scale-105 hover:dark:bg-[#c0c0c0] focus:scale-105 active:scale-105"
            rel="noopener noreferrer"
            href="/static/gpg.asc"
            target="_blank"
          >
            <img width="32" height="32" alt="fingerprint icon" type="image/svg" src="/static/fingerprint-fill.svg">
          </a>
        </div>
      </div>
    </div>

    {# Right #}
    <div class="relative mt-16 md:mt-16 items-center flex h-fit flex-5 flex-col px-8">
      <picture
        class="block w-full aspect-square overflow-hidden rounded-lg shadow-lg transition-all hover:scale-105 bg-neutral-100 dark:bg-neutral-800"
        sizes="(max-width: 768px) 100vw, (max-width: 1200px) 50vw, 33vw"
      >
        <source
          srcset="https://img.gsgfs.moe/images/avif/6a/d5/6ad5852d8f1048c49a862e400a133d10da1fdb302bf3116fd74b0289b002731e.avif"
          type="image/avif"
        >
        <source
          srcset="https://img.gsgfs.moe/images/webp/6a/d5/6ad5852d8f1048c49a862e400a133d10da1fdb302bf3116fd74b0289b002731e.webp"
          type="image/webp"
        >
        <img
          alt="asumi"
          class="block h-full w-full object-cover"
          src="https://img.gsgfs.moe/images/raw/6a/d5/6ad5852d8f1048c49a862e400a133d10da1fdb302bf3116fd74b0289b002731e.webp"
          decoding="async"
          loading="eager"
          fetchpriority="high"
        >
      </picture>

      <div class="relative mt-4 flex w-full items-start justify-end gap-3 min-h-8">
        <p
          class="absolute left-0 right-8 top-0 hidden text-right text-sm leading-6 dark:text-gray-500"
          id="image-description"
        >
          <span>图片中的角色是《常轨脱离Creative》中的锦亚澄</span>
        </p>
        <button
          aria-label="显示/隐藏图片信息"
          aria-controls="image-description"
          aria-expanded="false"
          class="flex h-5 w-5 shrink-0 cursor-pointer items-center justify-center dark:text-[#cccccc] transition-colors hover:dark:text-[#c0c0c0]"
          data-image-description-toggle
          type="button"
          tabindex="0"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-full w-full">
            <path
              d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM11 11V17H13V11H11ZM11 7V9H13V7H11Z"
            ></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/page/index/image-description.js' %}"></script>
{% endblock %}
