DEBUG=True

# Django 配置
DJANGO_SECRET_KEY=<随机字符串> # Django加密需要
DJANGO_LOGLEVEL=info
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1 # 允许的主机名
DJANGO_CSRF_TRUSTED_ORIGINS=https://example.com # CSRF配置

API_KEY=<随机字符串> # 前后端数据交换密钥 需要与前端相同 (弃用)
FERNET_KEY=<随机字符串> # 加密主密钥
FERNET_OLD_KEYS= # 历史主密钥，使用半角逗号分隔
SERVER_NAME=example.com # 服务器名称
FRONTEND_URL=http://localhost:3000 # 前端地址
BACKEND_DOMAIN=example.com

# postgresql 数据库配置
DATABASE_ENGINE=postgresql
DATABASE_NAME=blog
DATABASE_USER=blog
DATABASE_PASSWORD=<数据库密码>
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_CONN_MAX_AGE=0
DATABASE_CONN_HEALTH_CHECKS=True
DATABASE_USE_PGBOUNCER=False

# PgBouncer 配置
PGBOUNCER_POOL_MODE=transaction
PGBOUNCER_MAX_CLIENT_CONN=500
PGBOUNCER_DEFAULT_POOL_SIZE=20
PGBOUNCER_RESERVE_POOL_SIZE=5
PGBOUNCER_MAX_DB_CONNECTIONS=40
PGBOUNCER_QUERY_WAIT_TIMEOUT=30

# redis 配置
REDIS_HOST=localhost
REDIS_PORT=6379
# 上面的配置也可以使用下面的方式替代
#REDIS_URL=redis://localhost:6379

# s3 配置
USE_S3=False # 是否使用 S3 对象存储上传图片
S3_ENDPOINT_URL=xxx # S3 Endpoint URL
S3_ACCESS_KEY_ID=xxx # S3 Access Key ID
S3_SECRET_ACCESS_KEY=xxx # S3 Secret Access Key
S3_BUCKET_NAME=xxx # bucket
S3_PUBLIC_DOMAIN=xxx

# resend 邮件配置
RESEND_API_KEY=xxx # Resend API Key
ADMIN_EMAIL=admin@example.com # 管理员邮箱
DEFAULT_FROM_EMAIL="admin@example.com" # 或者 "Name <email@example.com>"

# 向量化搜索
MODEL_NAME=google/embeddinggemma-300m
#GGUF_MODEL_NAME=ggml-org/embeddinggemma-300M-GGUF # 与 MODEL_NAME 二选一即可, 如果使用gguf, 还需要启用 litellm
SENTENCE_TRANSFORMERS_HOME=sentence_transformers_models
HUGGINGFACE_HUB_TOKEN=hf_xxx # 下载某些模型需要, 比如 google/embeddinggemma-300m

# 使用外部的模型提供词嵌入 (可选，用于替代本地推理)
USE_REMOTE_EMBEDDING=False
REMOTE_EMBEDDING_API_BASE=http://blog-litellm:4000/v1 # 需要以v1结尾
REMOTE_EMBEDDING_MODEL_NAME=embeddinggemma-300m
REMOTE_EMBEDDING_API_KEY=sk-1234  # change this in prod
