{% extends "admin/base.html" %}
{% load vite %}

{% block extrahead %}
  {{ block.super }}
  {% vite_hmr %}
  <script type="module" src="{% vite_asset 'web/typescript/admin/index.ts' %}"></script>
{% endblock %}

{% block title %}
  {% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block branding %}
  <div id="site-name">
    <a href="{% url 'admin:index' %}">
      {{ site_header|default:_('Django administration') }}
    </a>
  </div>

  {% if user.is_anonymous %}
    {% include "admin/color_theme_toggle.html" %}
  {% endif %}
{% endblock %}

{% block userlinks %}
  <a href="{% url 'admin:account_security' %}">Account security</a> /
  {{ block.super }}
{% endblock %}

{% block nav-global %}{% endblock %} 
