.site-root {
  scroll-padding-top: 6rem;
}

.site-body {
  min-height: 100vh;
  scroll-behavior: smooth;
  background-color: #1c1b22;
  color: rgb(209 213 219);
}

.site-header {
  position: fixed;
  top: 0;
  z-index: 50;
  display: flex;
  width: 100%;
  justify-content: center;
}

.site-shell {
  position: relative;
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.site-main {
  width: 100%;
  max-width: 80rem;
  flex-grow: 1;
  margin-inline: auto;
  padding-top: 6rem;
}
