{% load static vite solid_islands %}

<!DOCTYPE html>
<html lang="zh-Hans" class="no-js dark site-root" style="text-autospace: normal">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="dark">
  <script type="module" src="{% vite_asset 'web/typescript/core/theme.ts' %}"></script>
  <script>document.documentElement.classList.replace("no-js", "js");</script>
  <link rel="stylesheet" href="{% vite_asset 'web/typescript/styles/navbar.css' %}">
  <link rel="stylesheet" href="{% vite_asset 'web/typescript/styles/footer.css' %}">
  <link rel="stylesheet" href="{% vite_asset 'web/typescript/styles/base.css' %}">
  <link rel="stylesheet" href="{% vite_asset 'web/typescript/styles/globals.css' %}">
  <link rel="stylesheet" href="{% vite_asset 'web/typescript/styles/font.css' %}">
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <title>{% block title %}{% endblock %} - {{ SITE_TITLE }}</title>
  {% vite_hmr %}
  {% block extra_head %}{% endblock %}
</head>
<body class="site-body" hx-boost="true" hx-ext="head-support">
<header class="site-header">
  {% include "web/partials/globals/navbar.html" %}
</header>

<div class="site-shell">
  <main class="site-main">
    {% block content %}{% endblock %}
  </main>

  {% include "web/partials/globals/footer.html" %}
</div>

<script type="module" src="{% vite_asset 'web/typescript/index.tsx' %}"></script>

{% block extra_js %}{% endblock %}
</body>
</html>
